header {
  width: 100%;
  height: 520px;
  padding-top: 120px;
  background-color: #FF0000;
  background-image: url("../images/brick-wall.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px){
  header{
    margin-bottom: 1000px;
    width: 60%;
    padding: 0;
    height: 100%;
  }
  img{
    padding-top: 25px;
  }
}