.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*  */
.new-tweet h2 {
  text-align: center;
  font-size: 24px; 
  margin-bottom: 10px;
}
/*  tweet text area for typing */
.new-tweet textarea {
  width: 100%;
  height: 200%;
  border: none;
  resize: none;
  outline: none;
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 5px solid #2c272721;
  background-color: transparent;
  box-sizing: border-box;
}
/* spaces the button and counter sections */
.new-tweet div {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Style for the button */
.new-tweet button {
  background-color: #4056A1;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
/*  made counter on the right side */
.counter {
  justify-content: flex-end;
  align-items: flex-end;
}
/* if counter goes over 140 texts turn red */
.counter.overCount{
  color: red;
}
@media only screen and (min-width: 1024px){
    .container{
      display: flex;
      flex-direction: row;
      flex: 1;
      gap: 10px;
    }
    .new-tweet{
      height: 100%;
    }
    #new-tweet-form{
      width: 100%;
    }
    .new-tweet h2{
      margin-top: 0;
      padding-top: 200px;
    }
}