/*compose tweet area */
.tweet {
  background-color: white;
  border: 2px solid black;
  width: 600px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* tweet profile */
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* tweet names */
div.name-handles {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* tweeter profile pic */
div.name-handles img {
  margin-right: 8px;
}
/* tweet-contents */
div.tweet-content{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid black;
  word-wrap: break-word;
}
/* footer area */
.tweet-symbols{
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
}
.tweet-symbols i{
  margin-left: 5px;
}
.tweet-symbols i:hover{
  color: yellow;
}
.timestamp{
  color: black;
}

@media only screen and (min-width: 1024px){
  .tweets-box{
    display: flex;
    flex-direction: column;
    padding: 0;
    width:40%

  }
  div.tweet-content{
    margin-top: 50px;
  }
}